DB_NAME=nombre_de_tu_db
DB_USER=usuario_postgres
DB_PASSWORD=tu_contrasena_segura
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
SECRET_KEY=tu_secret_key